header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}

.nav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.nav-item {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  margin-right: 10px;
}

.nav-link:hover {
  color: lightgray;
  transition: all 0.2s ease-in-out;
}

.MuiSvgIcon-root {
  color: #000;
}

.MuiSvgIcon-root:hover {
  color: lightgray;
}
