.newsletter {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url('https://res.cloudinary.com/dzrk9qfvp/image/upload/v1616077591/MOCK_AD_pbhjv1.png');
  background-size: cover;
  padding-top: 50px;
  padding-bottom: 100px;
  color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.newsletter > h2 {
  margin-bottom: 15px;
}

.newsletter > p {
  margin-bottom: 15px;
}

.newsletter form {
  display: flex;
  margin-top: 15px;
}

.newsletter input[type='email'] {
  padding: 15px;
  border-radius: 0px;
  background-color: #fff;
  border-color: #fff;
  border-style: solid;
  margin-right: -4px;
  box-shadow: none;
  outline: 0;
  width: 160px;
}

.newsletter__form > button {
  border: 1px solid #fff;

  display: inline-block;
  background: #fff;
  color: #222;
  background: #cacaca;
  border-color: #cacaca;
  border-radius: 0;
  color: #000;
  height: 50px;

  text-transform: uppercase;
  outline: 0;
}
