.product {
  display: flex;
  flex-direction: column;

  align-items: center;

  /* margin: 10px;
  padding: 20px;

  max-height: 400px; */
  min-width: 100px;
  max-width: 300px;
}

a > img {
  max-height: 300px;
  width: 100%;
  object-fit: contain;
  margin-bottom: 15px;
}

a:-webkit-any-link {
  color: black;
  text-decoration: none;
}

.product__info > button {
  background: #d8d8da;
  border: none;
  color: black;
  border-color: none;
  outline: none;
  font-size: 12px;
  border-radius: 10px;
  padding: 7px 20px 7px;
  cursor: pointer;
}

.product__info > button:hover {
  color: #d8d8da;
  background: black;
  transition: all 0.2s ease-in-out;
}

.product__price {
  margin-top: 5px;
  margin-bottom: 15px;
}

.product__info {
  margin-bottom: 3px;
  text-align: left;
  width: 100%;
  /* padding-left: 10px; */
}
