.checkout {
  /* display: block;

  background-color: white;
  height: max-content;
  flex-direction: column;
  align-items: center; */
  position: relative;
  width: 100%;
}

.checkout__ad {
  width: 100%;
  height: auto;
}

.checkout__title {
  margin-right: 10px;
  padding: 10px;
  text-align: center;
  font-size: 25px;
  margin-bottom: 30px;
}

.checkout__table {
  width: 100%;
}

.checkout__table th {
  padding: 8px;
  border: 1px solid #ddd;
  text-align: left;
}

.checkout__image {
  width: 100px;
  height: auto;
  padding-right: 20px;
}

.MuiTableCell-body > img {
  width: 150px;
  height: auto;
}

.checkout__product {
  display: flex;
  align-items: center;
}

.checkout__productTitle {
  min-width: 100px;
  font-size: 12px;
  margin-bottom: 10px;
}

.checkout__option > a {
  font-size: 12px;

  cursor: pointer;
  color: black;
  text-decoration: underline;
}
