.home {
  /* display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  max-width: 1800px; */
  position: relative;
  width: 100%;
}

.home__container {
  width: -webkit-fill-available;
}

.home__product {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 40px;
  justify-items: center;
}

.home__productscontainer {
  max-width: 1560px;
  min-width: 260px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  margin-bottom: 60px;
  padding: 60px;
}

.home__sectionheading {
  margin-bottom: 20px;
}

.home__sectionheading > h3 {
  font-size: 25px;
  margin-bottom: 3px;
}

.home__sectionheading > p {
  font-size: 13px;
}

.home__image {
  height: 300px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url('https://images.unsplash.com/photo-1541667558913-5510fb3c7bd9?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80');
  background-size: cover;

  color: white;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}

.home__imagetext {
  text-align: left;
  position: absolute;

  padding-top: 20px;
  padding-bottom: 20px;
  color: white;
  bottom: 30px;
  padding-left: 25px;
}

/* MEDIA QUERIES */

@media only screen and (min-width: 900px) {
  .home__image {
    height: 500px;
  }
}

@media only screen and (min-width: 500px) {
  .home__product {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media only screen and (min-width: 900px) {
  .home__product {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
