.productpage__container {
  /* display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center; */
  height: 85vh;
}

.productpage__productinfo {
  display: grid;

  padding: 20px;
  align-items: center;
  grid-template-columns: 1fr;
}

.productpage__image {
  width: 200px;
  height: 200px;
}

.MuiGrid-root .MuiGrid-item .MuiGrid-grid-xs-12 {
  text-align: -webkit-center;
}

.productpage__details {
  padding: 30px;
}

.productpage__heading {
  margin-bottom: 10px;
}

.productpage__price {
  margin-bottom: 10px;
  font-weight: bold;
}
.productpage__stock {
  margin-bottom: 20px;
  font-weight: bold;
  color: green;
}

.productpage__details > button {
  background: #d8d8da;
  border: none;
  color: black;
  border-color: none;
  outline: none;
  font-size: 12px;
  border-radius: 10px;
  padding: 7px 20px 7px;
  cursor: pointer;
}

.productpage__details > button:hover {
  color: #d8d8da;
  background: black;
  transition: all 0.2s ease-in-out;
}

/* @media only screen and (min-width: 900px) {
  .productpage__productinfo  {
    grid-template-columns: 1fr 1fr ;
  }
} */
