.product-container {
  padding: 90px 50px;
  display: grid;
  justify-items: center;
}

.product-info {
  display: flex;
  flex-direction: row;
}

.product-image {
  max-width: 400px;
}

.product-image > img {
  width: 100%;
}

.product-description {
  padding: 50px 0px;
}

.product-description > h1 {
  margin-bottom: 25px;
}

.product-description > p {
  margin-bottom: 25px;
}

@media only screen and (min-width: 768px) {
  .product-container {
    padding: 90px 50px;
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr 1fr;
  }

  .product-description {
    padding: 50px;
  }
}
