.MuiToolbar-regular {
  justify-content: space-between;
}

.header__optionLineOne {
  font-size: 13px;
}

.header__optionBasket {
  color: #222222;
}

.header__nav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.header__option {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  margin-right: 10px;
  color: #222222;
}

.header__nav > a {
  text-decoration: none;
  display: flex;
  align-items: center;
}

.header__optionLineOne:hover {
  color: lightgray;
  transition: all 0.2s ease-in-out;
}

.MuiSvgIcon-root {
  color: #222222;
}

.MuiSvgIcon-root:hover {
  color: lightgray;

}
